h1{
	color: rgb(123,0,200);
	font-size: 60px;
	background-color: rgb(255,255,255);

}
h2{ 

	font-size: 40px;
	color: rgb(123,0,200);
	text-align: center;
	font-family: "Helvetica";
	background-color: rgb(255,255,255);
}
h3{ 
	text-align: center;
	font-size: 30px;
	color: rgb(123,0,200);
	background-color: rgb(255,255,255);

}

p{	
    font-size: 28px;
	color: rgb(197,55,127);
	font-family: "Cookie", cursive;
	src: url(font-family/Cookie/Cookie-Regular.ttf);

}
.p1{
    font-size: 28px;
	color: rgb(200,155,220);
	background-color: rgb(255,255,255);
	
}

.p2{
	font-size: 28px;
	color: rgb(200,155,220);
	font-family: "Cookie", cursive;
	src: url(font-family/Cookie/Cookie-Regular.ttf);
}

#p3{
	color: rgb(123,0,200);
	font-weight: bolder;

}

.p4{
	text-align: right;
	color: 
}

.p5{
	text-align: right;
}
 
span{
	font-size: 56px;
}
div{
	background-color: rgb(235,232,225);
	margin: 5px;
	border-right: 5px;
	border-left: 5px;
	border-bottom: 5px;
	border-top: 5px;
	border-style: solid;
	border-color: rgb(200,200,220);

}
hr{
	border-color: red;
}
body{
	margin-width: 1px;
	border-color: red;
	border-width: 1px;

}
